* {
  margin: 0;
  padding: 0;
}

:root {
  /*Geral*/
  --color-white: #ffffff;
  --color-back: #23232e;
  --color-nav: #bbb1a6;
  --color-section: #bbb1a62a;
  --color-sombra-verde: #97af7e;

  /*Textos*/
  --color-text1: #3d3734;

  /*Sessões*/
  --color-aves: #e5fdcd;
  --color-peixes: #f8d5d1;
  --color-caes: #cde6e9;
  --color-gatos: #fac4ae;

  /*Links*/
  --color-aves-a: #47533b;
  --color-peixes-a: #6e1747;
  --color-caes-a: #344446;
  --color-gatos-a: #813d22;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
}

html,
body {
  height: 100%;
}

.logo {
  font-family: 'Indie Flower', cursive;
}

#logo:hover {
  /*Animação: a imagem do logo pulsa*/
  animation: pulsando 1s linear 0s infinite;
}
@keyframes pulsando {
  0% {
    transform: scale(1) rotate(0deg);
  }
  30% {
    transform: scale(1.1) rotate(0deg);
  }
  50% {
    transform: scale(1.2) rotate(0deg);
  }
  70% {
    transform: scale(1.1) rotate(0deg);
  }
  100% {
    transform: scale(1) rotate(0deg);
  }
}

nav {
  height: 60px;
  padding: 20px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-nav);
  box-shadow: 0px 2px 5px var(--color-aves-a);
  color: var(--color-text1);
  font-weight: bold;
  font-size: 1.4rem;
}

nav,
ul {
  display: flex;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
}

li:hover {
  color: var(--color-gatos);
  font-size: 1.5rem;
  text-shadow: 1px 1px var(--color-peixes);
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

main h1,
h2,
#topo {
  margin: 0;
  margin-top: 4px;
  padding: 10px;
  color: var(--color-aves-a);
  text-align: center;
  text-shadow: 1px 1.5px var(--color-sombra-verde);
}

h2 {
  color: var(--color-text1);
}

#link-topo {
  height: 1px;
  width: 1px;
  margin: 0;
  padding: 0;
  color: var(--color-nav);
}

.comum {
  height: 100px;
  width: 98%;
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 1.4rem;
  font-weight: bold;
}

.comum a:hover {
  color: var(--color-text1);
  font-size: 1.6rem;
  opacity: 0.8;
}

.aves {
  justify-content: end;
  padding-right: 20px;
  border: 1px solid var(--color-aves-a);
  background-image: linear-gradient(
    to right,
    var(--color-white),
    var(--color-aves)
  );
}

img {
  height: 40px;
}

a {
  text-decoration: none;
}

.aves a {
  color: var(--color-aves-a);
}

.peixes {
  justify-content: start;
  padding-left: 20px;
  border: 1px solid var(--color-aves-a);
  background-image: linear-gradient(
    to left,
    var(--color-white),
    var(--color-peixes)
  );
}

.peixes a {
  color: var(--color-peixes-a);
}

.caes {
  justify-content: end;
  padding-right: 20px;
  border: 1px solid var(--color-aves-a);
  background-image: linear-gradient(
    to right,
    var(--color-white),
    var(--color-caes)
  );
}

.caes a {
  color: var(--color-caes-a);
}

.gatos {
  justify-content: start;
  padding-left: 20px;
  border: 1px solid var(--color-aves-a);
  background-image: linear-gradient(
    to left,
    var(--color-white),
    var(--color-gatos)
  );
}

.gatos a {
  color: var(--color-gatos-a);
}

section {
  margin-bottom: 2px;
  width: 90%;
}

.div-section {
  height: auto;
  padding: 10px;
  background-color: var(--color-section);
  border: 1px solid var(--color-aves-a);
  box-shadow: 2px 2px 10px var(--color-nav);
  text-align: justify;
}

.titulo-section {
  padding: 6px 0 4px 0;
  color: var(--color-gatos-a);
  text-shadow: 1px 1px var(--color-nav);
}

p {
  padding: 4px;
  text-indent: 1em;
}

#topo {
  margin: 10px 0;
}

#topo a {
  color: var(--color-text1);
  font-size: 1.2rem;
  font-weight: bold;
}

#topo a:hover {
  color: var(--color-gatos);
  text-shadow: 1px 1px var(--color-peixes);
  font-size: 1.4rem;
}

footer {
  height: 50px;
  width: 100%;
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-nav);
  color: var(--color-text1);
  font-weight: bold;
}

footer a {
  color: var(--color-text1);
  text-shadow: 1px 1px var(--color-caes-a);
}

footer a:hover {
  color: var(--color-gatos);
  text-shadow: 1px 1px var(--color-peixes);
  font-size: 1.1rem;
}

/* Chamadas de fontes do CSS
font-family: 'Edu TAS Beginner', cursive;
font-family: 'Edu VIC WA NT Beginner', cursive;
font-family: 'Indie Flower', cursive;
font-family: 'Poppins', sans-serif;
font-family: 'Quicksand', sans-serif;
*/

/*Algumas cores para guardar
  #694a3e
  #c5b5a3
  #746963
  #2b2a2a
  #574745
  #382e2c
  #ffb394
*/

/*li:hover {
  cursor: pointer;
  opacity: 0.7;
  font-size: 1.5rem;
}*/
